In [3]:
import pandas as pd

# Reload the original dataset to ensure it's accessible
file_path = "ManorExpensesFinal.csv"
data = pd.read_csv(file_path)

# Filter rows where the 'Account' is 'Other'
other_account_rows = data[data['Account'] == 'Other']

# Display the filtered rows
other_account_rows

    Account        Date Transaction type    Amount
608   Other  2020-05-19          Expense      8.98
609   Other  2020-09-17            Check    173.94
610   Other  2020-11-25          Expense   4619.00
611   Other  2020-12-10          Expense  21425.26
612   Other  2020-12-10          Expense     25.00

In [4]:
# Remove the specific row where 'Account' is 'Other' and 'Amount' is 21425.26
filtered_data = data[~((data['Account'] == 'Other') & (data['Amount'] == 21425.26))]

# Filter rows where the 'Account' is 'Other'
other_account_rows_new = filtered_data[filtered_data['Account'] == 'Other']

# Display the filtered rows to the user
other_account_rows_new

    Account        Date Transaction type   Amount
608   Other  2020-05-19          Expense     8.98
609   Other  2020-09-17            Check   173.94
610   Other  2020-11-25          Expense  4619.00
612   Other  2020-12-10          Expense    25.00

In [5]:
#Establish expenses by billing period and account type
# Define the date ranges of interest
date_ranges = [
    (None, '2019-04-19'),  # Through 4/19/19
    ('2019-04-20', '2019-05-19'),  # 4/20/19 through 5/19/19
    ('2019-05-20', '2019-09-30'),  # 5/20/19 through 9/30/19
    ('2019-10-01', '2019-10-31'),  # 10/1/19 through 10/31/19
    ('2019-11-01', '2019-12-13'),  # 11/1/19 through 12/13/19
    ('2019-12-14', '2020-01-20'),  # 12/14/19 through 1/20/20
    ('2020-01-21', '2020-02-20'),  # 1/21/20 through 2/20/20
    ('2020-02-21', '2020-03-20'),  # 2/21/20 through 3/20/20
    ('2020-03-21', '2020-04-20'),  # 3/21/20 through 4/20/20
    ('2020-04-21', '2020-05-20'),  # 4/21/20 through 5/20/20
    ('2020-05-21', '2020-06-20'),  # 5/21/20 through 6/20/20
    ('2020-06-21', '2020-07-20'),  # 6/21/20 through 7/20/20
    ('2020-07-21', '2020-08-20'),  # 7/21/20 through 8/20/20
]

# Function to summarize expenses for a given date range
def summarize_expenses(start_date, end_date, data):
    # Filter the data for the given date range
    if start_date:
        filtered = data[(data['Date'] >= start_date) & (data['Date'] <= end_date)]
    else:
        filtered = data[data['Date'] <= end_date]

    # Calculate total expenses
    total_expenses = filtered['Amount'].sum()

    # Calculate expenses by category (account type)
    expenses_by_account = filtered.groupby('Account')['Amount'].sum().reset_index()

    return total_expenses, expenses_by_account

# Loop through date ranges and print the results
for start_date, end_date in date_ranges:
    period = f"{start_date or 'Through'} - {end_date}"
    total, by_account = summarize_expenses(start_date, end_date, filtered_data)

    print(f"\nPeriod: {period}")
    print(f"Total Expenses: ${total:,.2f}")
    print("Expenses by Account Type:")
    print(by_account)

Period: Through - 2019-04-19
Total Expenses: $28,628.53
Expenses by Account Type:
                     Account    Amount
0  Equipment Rental for Jobs   2962.94
1                       Fuel    316.40
2    Job Materials Purchased  13428.37
3                      Labor  11920.82

Period: 2019-04-20 - 2019-05-19
Total Expenses: $4,228.95
Expenses by Account Type:
                     Account   Amount
0  Equipment Rental for Jobs   296.51
1                       Fuel    51.55
2    Job Materials Purchased   198.98
3                      Labor  3681.91

Period: 2019-05-20 - 2019-09-30
Total Expenses: $16,878.86
Expenses by Account Type:
                   Account    Amount
0                     Fuel    214.76
1  Job Materials Purchased  13275.24
2                    Labor   3388.86

Period: 2019-10-01 - 2019-10-31
Total Expenses: $39,701.99
Expenses by Account Type:
                   Account    Amount
0                     Fuel    632.90
1  Job Materials Purchased  24134.80
2                    Labor  14934.29

Period: 2019-11-01 - 2019-12-13
Total Expenses: $67,992.30
Expenses by Account Type:
                   Account    Amount
0                     Fuel    422.81
1  Job Materials Purchased  47252.73
2                    Labor  20316.76

Period: 2019-12-14 - 2020-01-20
Total Expenses: $28,622.76
Expenses by Account Type:
                   Account    Amount
0                     Fuel    512.22
1  Job Materials Purchased   2553.06
2                    Labor  14314.98
3   Subcontractors Expense  11242.50

Period: 2020-01-21 - 2020-02-20
Total Expenses: $42,216.08
Expenses by Account Type:
                   Account    Amount
0                     Fuel    457.13
1  Job Materials Purchased  21848.72
2                    Labor  19910.23

Period: 2020-02-21 - 2020-03-20
Total Expenses: $50,344.31
Expenses by Account Type:
                   Account    Amount
0  Job Materials Purchased  17869.34
1                    Labor  13692.34
2   Subcontractors Expense  18782.63

Period: 2020-03-21 - 2020-04-20
Total Expenses: $36,629.99
Expenses by Account Type:
                   Account    Amount
0                     Fuel    117.55
1  Job Materials Purchased  11463.98
2                    Labor   9308.96
3   Subcontractors Expense  15739.50

Period: 2020-04-21 - 2020-05-20
Total Expenses: $36,396.71
Expenses by Account Type:
                     Account    Amount
0  Equipment Rental for Jobs    583.58
1                       Fuel    800.70
2    Job Materials Purchased  23871.14
3                      Labor  11132.31
4                      Other      8.98

Period: 2020-05-21 - 2020-06-20
Total Expenses: $52,476.22
Expenses by Account Type:
                   Account    Amount
0                     Fuel    781.12
1  Job Materials Purchased  25947.90
2                    Labor  25747.20

Period: 2020-06-21 - 2020-07-20
Total Expenses: $48,639.09
Expenses by Account Type:
                   Account    Amount
0                     Fuel    500.03
1  Job Materials Purchased  31194.99
2                    Labor  16944.07

Period: 2020-07-21 - 2020-08-20
Total Expenses: $30,323.85
Expenses by Account Type:
                     Account    Amount
0  Equipment Rental for Jobs    338.52
1                       Fuel    650.86
2    Job Materials Purchased   7589.51
3                      Labor  19894.96
4     Subcontractors Expense   1850.00